@import 'tailwindcss';

/*===GLOBAL COLOR VARIABLES===*/
:root {
  --background: #ffffff;
  --background-transparent: rgba(255, 255, 255, 0.25);
  --foreground-primary: #1c2d43;
  --foreground-secondary: #ffffff;
  --divider-oceanblue: #275089;
  --transparent-oceanblue: rgba(39, 80, 137, 0.35);
  --divider-lightgray: #f3f3f3;
  --divider-skyblue: #5899dd;
}

@theme inline {
  --color-palette-background: var(--background);
  --color-palette-background-transparent: var(--background-transparent);
  --color-palette-color-primary: var(--foreground-primary);
  --color-palette-color-secondary: var(--foreground-secondary);
  --color-palette-oceanblue: var(--divider-oceanblue);
  --color-palette-transparent-oceanblue: var(--transparent-oceanblue);
  --color-palette-lightgray: var(--divider-lightgray);
  --color-palette-skyblue: var(--divider-skyblue);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--background); /* or your solid color */
  color: var(--foreground-primary);
  font-family: 'Poppins', sans-serif;
  background: #275089;
  background-image: url('../../public/images/clouds.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

main {
  flex: 1; /* Only main grows */
}
